/* Button.module.css */

.Button {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.Button:hover {
  background-color: #0056b3;
}
