.Note-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px; /* Réduction de la taille du padding */
    transition: background-color 0.3s ease;
}

.Note-button:hover {
    background-color: #565656;
}

.Note-button-selected {
    background-color: #2c2c2c;
}

.jolienote {
    flex: 1;
}

.joliecontent {
    font-size: 12px;
    color: #818181;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jolienote span {
    display: block;
    margin-bottom: 2px; /* Réduction de l'espacement entre le titre et les tags */
}

.icons {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.note-checked .jolieTitle,
.note-checked .joliecontent {
    text-decoration: line-through;
}


.jolieTitle {
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Note-tags {
    display: flex;
    gap: 4px; /* Espacement entre les tags */
}

.Tag {
    font-size: 10px;
    background-color: #363636;
    padding: 2px 6px;
    border-radius: 3px;
}
